include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include us_checks *.css
recursive-include us_checks *.csv
recursive-include us_checks *.html
recursive-include us_checks *.ico
recursive-include us_checks *.js
recursive-include us_checks *.json
recursive-include us_checks *.md
recursive-include us_checks *.png
recursive-include us_checks *.py
recursive-include us_checks *.svg
recursive-include us_checks *.txt
recursive-exclude us_checks *.pyc
